<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Appearance</string>
            <key>footerText</key>
            <string>Show volume percentage below the slider while oriented in portrait.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Theme</string>
			<key>validValues</key>
			<array>
				<string>ABVolumeHUDThemeDark</string>
				<string>ABVolumeHUDThemeLight</string>
				<string>ABVolumeHUDThemeExtraLight</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Dark (Default)</string>
				<string>Light</string>
				<string>Extra Light</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
				<string>Extra Light</string>
			</array>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<string>ABVolumeHUDThemeDark</string>
			<key>key</key>
			<string>Theme</string>
			<key>OSRequirement</key>
			<string>major &lt; 13</string>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Theme (Light Mode)</string>
			<key>validValues</key>
			<array>
				<string>ABVolumeHUDThemeDark</string>
				<string>ABVolumeHUDThemeLight</string>
				<string>ABVolumeHUDThemeExtraLight</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Dark (Default)</string>
				<string>Light</string>
				<string>Extra Light</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
				<string>Extra Light</string>
			</array>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<string>ABVolumeHUDThemeDark</string>
			<key>key</key>
			<string>Theme</string>
			<key>OSRequirement</key>
			<string>major >= 13</string>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Theme (Dark Mode)</string>
			<key>validValues</key>
			<array>
				<string></string>
				<string>ABVolumeHUDThemeDark</string>
				<string>ABVolumeHUDThemeLight</string>
				<string>ABVolumeHUDThemeExtraLight</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Same as Light Mode (Default)</string>
				<string>Dark</string>
				<string>Light</string>
				<string>Extra Light</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Same as Light Mode</string>
				<string>Dark</string>
				<string>Light</string>
				<string>Extra Light</string>
			</array>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>ThemeInDarkMode</string>
			<key>staticTextMessage</key>
			<string>Choose to use a different Ultrasound theme while your device is in Dark Mode.</string>
			<key>OSRequirement</key>
			<string>major >= 13</string>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Look</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Iconic</string>
				<string>Refined</string>
			</array>
			<key>staticTextMessage</key>
			<string>Try the Iconic look Ultrasound is known for, or use the new Refined look, beautiful on rounded-corner devices.</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>Style</string>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>label</key>
			<string>Show Volume Percentage</string>
			<key>key</key>
			<string>ShowVolumePercentage</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Timeout</string>
            <key>footerText</key>
            <string>Specify how long to wait before dismissing the volume HUD.</string>
        </dict>
        <dict>		
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>label</key>
            <string>Timeout</string>
            <key>key</key>
            <string>Timeout</string>
            <key>min</key>
            <real>1</real>
            <key>max</key>
            <real>5</real>
            <key>showValue</key>
            <true/>
            <key>isSegmented</key>
            <true/>
            <key>segmentCount</key>
            <integer>8</integer>
            <key>defaults</key>
            <string>applebetas.ios.tweak.willow</string>
            <key>default</key>
            <real>1.5</real>
            <key>PostNotification</key>
            <string>applebetas.ios.tweak.willow.changed</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Behaviour</string>
			<key>footerText</key>
			<string>Play Haptic Feedback when adjusting the volume reaches 0% or 100%. Requires iPhone 7 or later.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>label</key>
			<string>Haptic Feedback</string>
			<key>key</key>
			<string>EnableHapticFeedback</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>OLED Mode</string>
			<key>footerText</key>
			<string>OLED Mode lets you view your volume at a glance as you adjust it, while the device's screen is off.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>label</key>
			<string>Enable OLED Mode</string>
			<key>key</key>
			<string>EnableOLEDMode</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>label</key>
			<string>Show Volume Icon</string>
			<key>key</key>
			<string>ShowVolumeIconOLED</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
			<key>DependsOn</key>
			<string>EnableOLEDMode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>label</key>
			<string>Show Volume Percentage</string>
			<key>key</key>
			<string>ShowVolumePercentageOLED</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.willow</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.willow.changed</string>
			<key>DependsOn</key>
			<string>EnableOLEDMode</string>
		</dict>
	</array>
	<key>headerColour</key>
	<string>0.161:0.173:0.212</string>
	<key>firstCopyrightYear</key>
	<integer>2018</integer>
	<key>showsDynasticBranding</key>
	<false/>
	<key>companyName</key>
	<string>Ayden Panhuyzen</string>
</dict>
</plist>
